body {
	margin: 0 0 1em 0;
	padding: 0;
	color: black;
	background-color: #eee;
	line-height: 130%;
	/*font-family: arial, helvetica, verdana, tahoma, sans-serif;*/
	font-family: "Lucida Grande", "Lucida Sans Unicode", geneva, verdana, sans-serif;
	text-align: center;
}

body.whitebg {
	background-color: white;
}

#wrapper-header {	background: #222; }

#header {
	background: #222 url('../images/header_inner.png') center no-repeat;
	width: 75%;
	height: 125px;
	line-height: 125px;
	margin: 0 auto;
	border-left: 1px solid #707070;
	border-right: 1px solid #707070;
	text-align: left;
	position: relative;
}

#header a {
    color: white;
}

#header a:hover {
    color: white;
    text-decoration: none;
}

#pageLogin {
	text-align: right;
	color: #eee;
	font-weight: bold;
	position: fixed;
	width:75%;
	font-size:18px;
	line-height: 20px;
	width:auto;
	height:auto;
	position: absolute; bottom: 0; right: 0;
	padding:4px;
	background-color:rgba(0,0,0,0.5);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-border-radius: 5px;
}

#header h1 {
	margin: 0;
	padding: 0;
	color: #eee;
	font-size: 220%;
	padding-left: 10px;
	letter-spacing: -1px;
}

#wrapper-menu {
	background: #0070FF url('../images/menu-background.png') top left repeat-x;
	float: left;
	width: 100%;
}

#menu {
	width: 75%;
	margin: 0 auto;
	font-size: 95%;
	white-space: nowrap; /* stops half a menu link dropping to next line. Instead, the whole link will drop. This only happens if you have a lot of menu links, and large text size */
	padding-right: 0px;	/* The menu far left, and far right borders are not quite lining up in non IE browsers for some reason. This makes it less noticable */
}

#searchbox {
	float:right;
	font-size:100%;
	width: 201px;
	height: 29px;
	border-right: 1px solid #707070;
	background: url('../images/searchbg.png');
}

#searchbox #s {
    float: left;
    padding: 0;
    margin: 6px 0 0 6px;
    border: 0;
    width: 159px;
    background: none;
}

#searchbox #go {
    float: right;
    margin: 2px 4px 0 0;
}

* html #menu { padding-right: 0; } /* See above comment. This re-adjusts IE to the above padding */

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	border-left: 1px solid #707070;
	/*width: 34em;*/
	font-size: 12pt;
}

#menu li { display: inline; }

#menu a:link, #menu a:visited {
	padding: 0.25em 1em;
	background: transparent;
	color: #fff;
	text-decoration: none;
	float: left;
	border-right: 1px solid #707070;
}

#menu a:hover {
	background: #9FC9FF url('../images/menu-hover.png') repeat-x;
	color: #fff;
}

#content {
	width: 73%; /* 73% because it has 1% padding on each side, which brings it to 75% wide */
	margin: 0 auto;
	padding: 3.5em 1% 20px 1%;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	background: white;
	font-size: 90%;
	text-align: left;
}

* html #content { padding-top: 1.8em; } /* Set padding top in IE to 20px */

#footer {
	margin: 0 auto;
	padding: 2px 1%;
	width: 73%;
	text-align: right;
	color: white;
	/*letter-spacing: 0.15em;*/
	background: #0070FF url('../images/menu-background.png') top left repeat-x;
	border: 1px solid #369;
	font-size: 80%;
}

#footer a {
	color: #FFF;
	text-decoration: underline;
}

h2 {
	color: #666;
	padding-bottom: 3px;
	/*border-bottom: 1px solid #a0c80e;*/
	font-size: 150%;
	letter-spacing: -1px;
}

a:link, a:visited {
	color: #369;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

p { margin-left: 1em; }

#status_block {
  margin: 0 auto 0.5em auto;
  padding: 15px 10px 15px 55px;
  background: #cec URL('../images/ok.png') left center no-repeat;
  border: 1px solid #9c9;
  width: 450px;
  font-size: 120%;
  font-weight: bolder;
}

.notice {
  margin: 0.5em auto 0.5em auto;
  padding: 15px 10px 15px 55px;
  width: 450px;
  background: #eef URL('../images/info.png') left center no-repeat;
  border: 1px solid #cce;
}

.fielderror {
    color: red;
    font-weight: bold;
}

#flash2 .message {
  /* base styles for all flash2 messages */
  border-width: 1px;
  border-style: solid;
  margin: 0.5em auto 0.5em auto;
  padding: 15px 10px 15px 55px;
  min-height: 50px;
  width: 450px;
  font-weight: bolder;
  vertical-align: middle;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -border-radius: 5px;
  position: relative;
}
#flash2 .error {
  background: url('/static/images/error.png') 6px center no-repeat;
  padding-left: 60px;
  background-color: #fdd; /* red */
  border-color: #f00;
}
#flash2 .warning {
  background-color: #ffd; /* yellow? */
  border-color: #ff0;
}
#flash2 .info {
  padding-left: 60px;
  background: url(/static/images/info.png) 8px center no-repeat;
  background-color: #eeeeff;
  border-color: #bbd;
}
#flash2 .ok {
  padding-left: 60px;
  background: url(/static/images/ok.png) 8px center no-repeat;
  background-color: #cceecc;
  border-color: #81db28;
}
#flash2 .bug {
  padding-left: 60px;
  /*background: url(/static/images/bug001.gif) .2em center no-repeat;*/
  background-color: #fdd; /* red */
  border-color: #f00;
}
#flash2 .construction {
  padding-left: 60px;
  /*background: url(/static/images/construction1.gif) .2em center no-
repeat;*/
  background-color: #ffd; /* yellow? */
  border-color: #ff0;
}
#flash2 .feed {
  padding-left: 60px;
  /*background: url(/static/images/feed-icon-24x24.png) .2em center no-
repeat;*/
  background-color: #ffd; /* yellow? */
  border-color: #ff8509;
}
#flash2 .message .hide {
  float: right;
  font-size: 85%;
  position:absolute; bottom: 0; right: 0;
  padding:4px;
}

div#avgRating img {
    height: 50px;
    width: 50px;
}

a.tag {
    -border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    background-color: lightSteelBlue;
    padding: 5px;
    color: black;
}

span.tag {
	padding: 5px 0px 5px 0px;
	margin: 1px;
}

a.addtag {
    -border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    background-color: lightSteelBlue;
    padding: 3px 6px 3px 6px;
    margin: 2px;
    color: black;
    font-size: 90%;
    display: inline-block;
}

a.tag:hover {
    background-color: SkyBlue;
}

a.addtag:hover {
    background-color: SkyBlue;
}

span.vote {
	display: inline-block;
	vertical-align: -32%;
}

a.vote {
	display: block;
	float: none;
	clear: both;
	margin: 2px;
}

img.vote {
	border: 0px;
}

div.orientation {
    margin: 10px;
    -border-radius: 10% 10% 10% 0;
    -moz-border-radius: 10% 10% 10% 0;
    -webkit-border-radius: 10% 10% 10% 0;
    background-color: SlateGray;
    padding: 0;
    color: white;
}

div.orientation div.question {
    margin: 0;
    -border-radius: 10% 10% 0 0;
    -moz-border-radius: 10% 10% 0 0;
    -webkit-border-radius: 10% 10% 0 0;
    background-color: black;
    padding: 10px;
    font-size: large;
}

div.orientation a.answer {
    display: block;
    clear: both;
    width: 80%;
    margin: 10px auto;
    -border-radius: 10%;
    -moz-border-radius: 10%;
    -webkit-border-radius: 10%;
    background-color: white;
    padding: 5px;
    text-align: center;
}

.hint {
	cursor:help;
}

.tip {
	border:1px solid #1B75DF;
	color:#000000;
	width:300px;
}

.tip-title {
	background-color:#DFEEFF;
	color:#1B75DF;
	font-size:11px;
	font-weight:bold;
	margin:0;
	padding:8px 8px 4px;
}

.tip-text {
	background-color:#DFEEFF;
	font-size:11px;
	padding:4px 8px 8px;
}